*{
  scroll-behavior: smooth;
}
.collections{
  margin-top: 3rem;
}
.list-movies{
  display: grid;
  grid-template-columns: repeat(auto-fit,250px);
  gap: 25px;
  justify-content: center;
  list-style: none;
}
.link-movie{
  text-decoration: none;
}
.movie{
  text-decoration: none;
  color: #ffffff;
  margin-top: 2rem;
}
.poster{
  border-radius: 8px;
  width: 100%;
}
.movie-title{
  padding: 8px 0;
  color: #ffffff;
}
.warning{
  color: #d3d3d3;
  border: #d3d3d3 thin solid;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 2rem;
  display: none;
}
.visible{
  display: block;
}

@media (max-width:590px) {
  .list-movies{
    grid-template-columns:repeat(auto-fit,200px);
  }
}
@media (max-width:490px) {
  .list-movies{
    grid-template-columns: repeat(auto-fit,150px);
    gap: 15px;
    width: 100%;
  }
}
@media (max-width:380px) {
  .list-movies{
    grid-template-columns: repeat(auto-fit,45%);
    gap: 0;
    margin: 0 auto;
    justify-content: space-between;
  } 
}
@media (max-width:290px) {
  .list-movies{
    display: flex;
    flex-direction: column;
  }
}