<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="pay_success.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Cinemark | Purchase information</title>
</head>
<body>
  <header> 
    <section class="title-container">
      <a href="/" class="title"><h1>Cinemark</h1></a>
    </section>
    <span class="material-symbols-outlined open">
      menu
    </span>
    <nav>
      <ul class="nav-list">
        <li class="nav-item nav-back">
          <span class="material-symbols-outlined back close">
            arrow_forward
          </span>
        </li>
        <li class="nav-item"><a href="/#first" class="nav-link">Premiers</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item">
          <a href="/account" class="nav-link">
            My account
            <span class="material-symbols-outlined icon">
              person
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="loader-section">
    <div class="loader"></div>
  </section>
  <p class="title-section">Purchase infomation</p>
  <section class="main">
    <div class="ticket">
      <div class="poster-div">
        <img src="" alt="poster" id="poster">
      </div>
      <div class="info-div">
        <p class="title-movie"></p>
        <p class="info" id="date-purchase"></p>
        <p class="info" id="code"></p>
        <p class="info" id="customer"></p>
        <p class="info" id="date-ticket"></p>
        <p class="info" id="format"></p>
        <p class="info" id="amount"></p>
        <p class="info" id="subtotal"></p>
        <p class="info" id="total"></p>
      </div>
    </div>
    <p class="warning">You can now pick up your tickets in person at our establishment on Av. sempervirens 223, remember to pick them up in advance of the screening time of your movie to be able to choose your best location in the room. For any claim you can send us an email to cinemarksupport@gmail.com, or call our customer service number 556-223-762, you will be given some instructions to solve your problem, you can also go to our store with the code of your purchase order.</p>
    <a href="/" class="home">Back to home<span class="material-symbols-outlined">
      undo
      </span></a>
  </section>
  <footer>
    <p class="text-footer">Cinemark Av. sempervirens 223 opening hours tuesday to saturday from 9:00 to 13:00 and 17:00 to 22:00. To make a claim you can contact us through our telephone number 4231935 during business hours or through our email cinemarksupport@gmail.com.</p>
  </footer>
  <script src="payment.js"></script>
</body>
</html>